name: Multi-Cloud ML Benchmark

on:
  workflow_dispatch:

jobs:
  aws:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-east-1
  

      - name: Deploy AWS
        run: |
          cd terraform/aws
          terraform init
          terraform apply -auto-approve

      - name: Run Locust
        run: |
          bash scripts/run_locust.sh 100 10

      - name: Destroy AWS
        run: |
          cd terraform/aws
          terraform destroy -auto-approve

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: aws-results
          path: results/aws/
    
