name: Multi-Cloud ML Benchmark

on:
  workflow_dispatch:

jobs:
  aws:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Deploy AWS
        working-directory: terraform/aws
        run: |
          terraform init
          terraform apply -auto-approve

      - name: Run Locust tests (headless)
        env:
          RESULTS_DIR: results/aws
        run: |
          mkdir -p $RESULTS_DIR

          cd terraform/aws
          TARGET_IP=$(terraform output -raw public_ip)
          cd ../..

          echo "Target IP: $TARGET_IP"

          python3 -m pip install --upgrade pip
          # add zope-event explicitly
          pip install locust psutil zope-event

          python3 scripts/collect_metrics.py &

          export TARGET_IP=$TARGET_IP

          bash scripts/run_locust.sh

          mv results/locust_*.csv $RESULTS_DIR/ || true
          mv results/system_metrics.csv $RESULTS_DIR/ || true

      - name: Destroy AWS
        if: always()
        working-directory: terraform/aws
        run: terraform destroy -auto-approve

      - name: Upload results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: aws-results
          path: results/aws/
